<html>
  <head></head>
  <body>
    <h1>Items</h1>

    <table class="dashboard_header">
      <tr>
        <th>Total number of items</th>
        <th>Average price of items</th>
        <th>Newest item</th>
        <th>Oldest item</th>
      </tr>
      <tr>
        <td><a href="/items"><%= items.count %></a></td>
        <td>$ <%= items.average_price %></a></td>
        <td><a href="/items/<%= items.newest.id %>/view"><%= items.newest.title %></a></td>
        <td><a href="/items/<%= items.oldest.id %>/view"><%= items.oldest.title %></a></td>
      </tr>
    </table>
  </body>
</html>
