<html>
  <head></head>
  <body>
    <h1>Item</h1>
    <table>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
      </tr>

      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <form action="/items/<%= item.id %>/edit" method="POST">
            <input type="hidden" name="_method" value="PATCH"/>
            <input type="text" name="new_title" value="<%= item.title %>"/>
            <input type="text" name="new_description" value="<%= item.description %>"/>
            <input type="float" name="new_price" value="<%= item.price %>"/>
            <input type="integer" name="new_merch_id" value="<%=  item.merchant_id %>"/>
            <input class="button-small" type="submit" value="Submit"/>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
