<html>
  <head></head>
  <body>
    <h1>item</h1>

    <form action="/items/create" method="GET">
      <input type="submit" value="Create New Item"/>
    </form>

    <table>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>merchant_id</th>
        <th>price</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
      </tr>

      <% items.each do |item| %>

      <tr>
        <td> <a href="/items/view/<%= item.id %>"><%= item.title %></a></td>
        <td> <%= item.description %> </td>
        <td> <%= item.merchant_id %> </td>
        <td> <%= item.created_at %></td>
        <td> <%= item.updated_at %></td>
        <td> <%= item.price %> </td>
        <td> <%= item.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td> <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td>
          <form action="/items/edit/<%= item.id %>" method="GET">
            <input type="submit" value="Edit"/>
          </form>

          <form action="/items/delete/<%= item.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr>

        <% end %>

    </table>
  </body>
</html>
