    <left><a href="/items-dashboard">Dashboard</a></left><br>
    <h1>Items</h1>

    <form action="/items/new" method="GET">
      <input class="button-small" type="submit" value="Create New Item"/>
    </form>

      <% items.each do |item| %>
          <section class="items">
            <a href="/items/<%= item.id %>/view"><img src="<%= item.image_url %>" alt="this is an item"/>
            <section>
              <a href="/items/<%= item.id %>/view"><%= item.title %></a>
              <br>
              $<%= sprintf "%.2f", item.price %>
            </section>
          </section>
      <% end %>
