<html>
  <head></head>
  <body>

    <h1><%= item.title %></h1>

    <table class="dummy_table">
      <td class="dummy_table">
        <form action="/items/<%= item.id %>/edit">
          <input class="edit_button" type="submit" value="Edit"/>
        </form>
      </td>

      <td class="dummy_table">
        <form action="/items/<%= item.id %>/delete" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <input class="delete_button" type="submit" value="Delete"/>
        </form>
      </td>
    </table>

    <section class="item_show_left">
      <img src="<%= item.image_url %>"/>
    </section>

    <section class="item_show_right">
      <h4><%= item.title %></h4>
      <h5>$<%= sprintf "%.2f", item.price %></h5>
      <p><%= item.description %></p>
    </section>
  </body>

</html>
