<html>
  <head></head>
  <body>
    <h1>Invoices Dashboard</h1>

    <section class="dashboard_box">
      <table class="dashboard_box">
        <tr>
          <th colspan="2">Status Percentages</th>
        </tr>
        <tr>
          <td>Pending: </td>
          <td><%= invoices.pending %>%</td>
        </tr>
        <tr>
          <td>Shipped: </td>
          <td><%= invoices.shipped %>%</td>
        </tr>
        <tr>
          <td>Returned: </td>
          <td><%= invoices.returned %>%</td>
        </tr>
      </table>
    </section>

    <section class="dashboard_box">
      <table class="dashboard_box">
        <tr>
          <th colspan="2">Unit Prices</th>
        </tr>
        <tr>
          <td class="category">Highest:</td>
          <td>
            <% highest = invoices.highest_price %>
            <a href="/invoices/<%= highest.invoice_id %>/view">$ <%= highest.unit_price %></a>
          </td>
        </tr>
        <tr>
          <td>Invoice:</td>
          <td>
            <% highest = invoices.highest_price %>
            <a href="/invoices/<%= highest.invoice_id %>/view"><%= highest.invoice_id %></a>
          </td>
        </tr>
        <tr>
          <td class="category">Lowest:</td>
          <td>
            <% lowest = invoices.lowest_price %>
            <a href="/invoices/<%= lowest.invoice_id %>/view">$ <%= lowest.unit_price %></a>
          </td>
        </tr>
        <tr>
          <td>Invoice:</td>
          <td>
            <% lowest = invoices.lowest_price %>
            <a href="/invoices/<%= lowest.invoice_id %>/view"><%= lowest.invoice_id %></a>
          </td>
        </tr>
      </table>
    </section>

    <section class="dashboard_box">
      <table class="dashboard_box">
        <tr>
          <th colspan="2">Quantity</th>
        </tr>
        <tr>
          <td class="category">Highest:</td>
          <td>
            <% highest = invoices.highest_quantity %>
            <a href="/invoices/<%= highest.invoice_id %>/view"><%= highest.quantity %></a>
          </td>
        </tr>
        <tr>
          <td>Invoice:</td>
          <td>
            <% highest = invoices.highest_quantity.invoice_id %>
            <a href="/invoices/<%= highest %>/view"><%= highest %></a>
          </td>
        </tr>
        <tr>
          <td class="category">Lowest:</td>
          <td>
            <% lowest = invoices.lowest_quantity %>
            <a href="/invoices/<%= lowest.invoice_id %>/view"><%= lowest.quantity %></a>
          </td>
        </tr>
        <tr>
          <td>Invoice:</td>
          <td>
            <% lowest = invoices.lowest_quantity.invoice_id %>
            <a href="/invoices/<%= lowest %>/view"><%= lowest %></a>
          </td>
        </tr>
      </table>
    </section>
  </body>
</html>
