<html>
  <head></head>
  <body>
    <h1>Invoices</h1>
    <form class="item_form" action="/invoices/<%= invoice.id %>/edit" method="POST">
      <input type="hidden" name="_method" value="PATCH"/>

      <h4 class="item_form_details">Merchant</h4>
      <select class="item_form_details" disabled name="new_merch_id">
        <option selected hidden value="<%= invoice.merchant.id %>"><%= invoice.merchant.name %></option>

          <option value="<%= merchant.id %>">
            <%= merchant.name %>
          </option>

      </select>

      <h4 class="item_form_details">Status</h4>
      <select class="item_form_details" name="new_status">
        <option selected hidden value="<%= invoice.status %>"><%= invoice.status %></option>

        <option>
          Shipped
        </option>

        <option>
          Pending
        </option>

        <option>
          Returned
        </option>
      </select>
      <br><br>

      <left>
        <input class="button-small" type="submit" name="cancel" value="Cancel"/>
      </left>

      <right>
        <input class="button-small" type="submit" value="Submit"/>
      </right>
    </form>
  </body>
</html>
