<html>
  <head></head>
  <body>
    <h1>Invoices</h1>
    <form class="item_form" action="/invoices/<%= invoice.id %>/edit" method="POST">
      <input type="hidden" name="_method" value="PATCH"/>

      <h4 class="item_form_details">Merchant</h4>
      <select class="item_form_details" disabled name="new_merch_id">
        <option selected hidden value="<%= invoice.merchant.id %>"><%= invoice.merchant.name %></option>

          <option value="<%= merchant.id %>">
            <%= merchant.name %>
          </option>

      </select>

      <h4 class="item_form_details">Status</h4>
      <select class="item_form_details" name="new_status">
        <option selected hidden value="<%= invoice.status %>"><%= invoice.status %></option>

        <option>
          shipped
        </option>

        <option>
          pending
        </option>

        <option>
          returned
        </option>
      </select>
      <br><br>

      <left>
        <input class="button-small" type="submit" name="cancel" value="Cancel"/>
      </left>

      <right>
        <input class="button-small" type="submit" value="Submit"/>
      </right>
    </form>

    <table>
      <tr>
        <th>Item ID</th>
        <th>item Title</th>
        <th>Quantity</th>
        <th>Unit Price</th>
      </tr>

      <% invoice.invoice_items.each do |invoice_item| %>

        <tr>
          <td> <%= invoice_item.item_id %> </td>
          <td> <%= invoice_item.item.title %> </td>
          <td> <%= invoice_item.quantity %> </td>
          <td> <%= invoice_item.unit_price %> </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
