<html>
  <head></head>
  <body>
    <h1>Invoices</h1>
    <table>
      <tr>
        <th>id</th>
        <th>customer_id</th>
        <th>merchant_id</th>
        <th>status</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
        <th></th>
      </tr>

      <tr>
        <form action="/invoices/<%= invoice.id %>/edit" method="POST">
        <input type="hidden" name="_method" value="PATCH" />
        <td>
          <%= invoice.id %>
        </td>
        <td>
            <input type="text" name="new_customer_id" value="<%= invoice.customer_id %>"/>
        </td>
        <td>
            <input type="text" name="new_merchant_id" value="<%= invoice.merchant_id %>"/>
        </td>
        <td>
            <input type="text" name="new_status" value="<%= invoice.status %>"/>
        </td>
        <td> <%= invoice.created_at %> </td>
        <td> <%= invoice.updated_at %> </td>
        <td>
          <input class="button-small" type="submit" value="Submit"/>
        </td>
        </form>
      </tr>
    </table>
  </body>
</html>
