<html>
  <head></head>
  <body>
    <h1>Invoices</h1>

    <form action="/invoices/create" method="GET">
      <input type="submit" value="Create New invoice"/>
    </form>

    <table>
      <tr>
        <th>id</th>
        <th>customer_id</th>
        <th>merchant_id</th>
        <th>status</th>
        <th>created</th>
        <th>updated</th>
      </tr>

      <% invoices.each do |invoice| %>

        <tr>
          <td> <%= invoice.id %> </td>
          <td> <a href="/invoice/view/<%= invoice.id %>"><%= invoice.id %></a></td>
          <td> <%= invoice.created_at %></td>
          <td> <%= invoice.updated_at %></td>
          <td>
            <form action="/invoices/edit/<%= invoice.id %>" method="GET">
              <input type="submit" value="Edit"/>
            </form>

            <form action="/invoices/delete/<%= invoice.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE"/>
              <input type="submit" value="Delete"/>
            </form>
          </td>
        </tr>

      <% end %>

    </table>
  </body>
</html>
