<html>
  <head></head>
  <body>

    <h1>Invoice: <%= invoice.id %> - <%= invoice.status %></h1>

    <table>
      <tr>
        <th>Item ID</th>
        <th>item Title</th>
        <th>Quantity</th>
        <th>Unit Price</th>
      </tr>

      <% invoice.invoice_items.each do |invoice_item| %>

      <tr>
        <td> <%= invoice_item.item_id %> </td>
        <td> <%= invoice_item.item.title %> </td>
        <td> <%= invoice_item.quantity %> </td>
        <td> <%= invoice_item.unit_price %> </td>
      </tr>
    <% end %>
    </table>
  </body>

</html>
