    <h1>Merchants Dashboard</h1>

    <table class="dashboard_header">
      <tr>
        <th>Merchant with the most items</th>
        <th>Merchant with the highest price item</th>
      </tr>
      <tr>
        <td>
          <% highest = merchants.most_items %>
          <a href="/merchants/<%= highest.id %>/view"><%= highest.name %></a>
        </td>
        <td>
          <% merchants.highest_price.each do |highest| %>
          <a href="/merchants/<%= highest.id %>/view"><%= highest.name %></a>
          <% end %>
        </td>
      </tr>
    </table>

    <% merchants.each do |merchant| %>

    <section class="merchant_dbd">
      <table class="merchant_dbd">
        <tr><th><a href="/merchants/view/<%= merchant.id %>"><%= merchant.name %></a></th></tr>
        <tr><td class="category">Item Count:</th></tr>
        <tr><td><%= merchant.items.size %></td></tr>
        <tr><td class="category">Avg Item Price:</th></tr>
        <tr><td>$<%= merchant.avg_price %></td></tr>
        <tr><td class="category">Total Cost of Items:</th></tr>
        <tr><td>$<%= merchant.total_cost %></td></tr>
      </table>
    </section>

    <% end %>
